<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
          name="viewport">
    <title>Simple Colud 管理用户</title>

    <link rel="stylesheet" href="../../static/modules/bootstrap/css/bootstrap.min.css"
          th:href="@{/modules/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/modules/ionicons/css/ionicons.min.css"
          th:href="@{/modules/ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" href="../../static/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css"
          th:href="@{/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css}">
    <link rel="stylesheet" href="../../static/css/demo.css"
          th:href="@{/css/demo.css}">
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
</head>

<body>
<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>
        <div th:replace="commons/bar::#top"></div>
        <div th:replace="commons/bar::#sidebar(currUri='manage-users')"></div>

        <div class="main-content">
            <section class="section">
                <h1 class="section-header">
                    <div><i class="ion ion-person-stalker"></i> 管理用户（总量：[[${usersCount}]]）</div>
                </h1>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped text-nowrap">
                                        <tr>
                                            <th>ID</th>
                                            <th>头像</th>
                                            <th>用户名</th>
                                            <th>邮箱</th>
                                            <!--                                            <th>仓库使用情况</th>-->
                                            <!--                                            <th>注册时间</th>-->
                                            <th>上传权限</th>
                                            <th>仓库容量(MB)</th>
                                            <th>操作</th>
                                        </tr>
                                        <tr th:each="user:${users}">
                                            <td th:text="${user.id}"></td>
                                            <td>
                                                <img alt="image"
                                                     src="https://p.qpic.cn/qqconnect/0/app_101851241_1582451550/100?max-age=2592000&t=0"
                                                     class="rounded-circle"
                                                     width="25" data-toggle="title" title="Wildan Ahdian">
                                            </td>
                                            <td th:text="${user.name}"></td>
                                            <td th:text="${user.email}"></td>
                                            <!--                                            <td class="align-middle">-->
                                            <!--                                                <div class="progress" style="height: 4px;" data-toggle="tooltip"-->
                                            <!--                                                     th:title="${user.current + '%'}">-->
                                            <!--                                                    <div class="progress-bar bg-success"-->
                                            <!--                                                         th:style="'width:'+ ${user.current + '%'}"></div>-->
                                            <!--                                                </div>-->
                                            <!--                                            </td>-->
                                            <!--                                            <td th:text="${#dates.format(user.registerTime,'yyyy-MM-dd HH:mm')}"></td>-->
                                            <td>
                                                <select th:id="${'permission'+user.id}">
                                                    <option value="0" th:if="${user.permission == 0}" checked>允许上传下载
                                                    </option>
                                                    <option value="1" th:if="${user.permission == 1}" checked>只允许下载
                                                    </option>
                                                    <option value="2" th:if="${user.permission == 2}" checked>禁止上传下载
                                                    </option>
                                                    <option value="0" th:if="${user.permission != 0}">允许上传下载</option>
                                                    <option value="1" th:if="${user.permission != 1}">只允许下载</option>
                                                    <option value="2" th:if="${user.permission != 2}">禁止上传下载</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input th:id="${'size'+user.id}" type="number" min="1024"
                                                       th:value="${user.size/1024}">
                                            </td>
                                            <td>
                                                <a th:onclick="'updateUser('+${user.id}+')'"
                                                   class="btn-sm btn-success">更新</a>
                                                <a th:href="@{/deleteUser(cur=0,uId=${user.id})}"
                                                   class="btn-sm btn-danger">删除</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div th:replace="commons/bar::#footer"></div>
    </div>
</div>
<script src="../../static/modules/jquery.min.js"
        th:src="@{/modules/jquery.min.js}"></script>
<script>
    function updateUser(id) {
        console.log("FUCK JAVASCRIPT" + id);

        var pre = '#permission' + id;
        var size = '#size' + id;
        location.href = url;
        // if ($(size).val() < 1024) {
        //     alert("仓库容量最小为1024MB！");
        //     return;
        // }
        // $.ajax({
        //     type: "GET",
        //     url: "updateStoreInfo",
        //     data: {
        //         "uId": id,
        //         "pre": $(pre).val(),
        //         "size": $(size).val()
        //     },
        //     success: function (data) {
        //         if (data == "200") {
        //             alert("修改成功！");
        //         }
        //     },
        //     error: function (e) {
        //         console.log(e.responseText);
        //     }
        // });
    }
</script>
<!--                                                   th:href="'javascript:updateUser(\''+${user.id}+'\')'"-->

<!--                <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>-->
<!--                <script th:src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<script src="../../static/modules/popper.js"
        th:src="@{/modules/popper.js}"></script>
<script src="../../static/modules/tooltip.js"
        th:src="@{/modules/tooltip.js}"></script>
<script src="../../static/modules/bootstrap/js/bootstrap.min.js"
        th:src="@{/modules/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/modules/nicescroll/jquery.nicescroll.min.js"
        th:src="@{/modules/nicescroll/jquery.nicescroll.min.js}"></script>
<script src="../../static/modules/scroll-up-bar/dist/scroll-up-bar.min.js"
        th:src="@{/modules/scroll-up-bar/dist/scroll-up-bar.min.js}"></script>
<!--<script src="../../static/js/sa-functions.js"-->
<!--        th:src="@{/js/sa-functions.js}"></script>-->

<!--<script src="../../static/modules/chart.min.js"-->
<!--        th:src="@{/modules/chart.min.js}"></script>-->
<!--<script src="../../static/modules/summernote/summernote-lite.js"-->
<!--        th:src="@{/modules/summernote/summernote-lite.js}"></script>-->

<script src="../../static/js/scripts.js"
        th:src="@{/js/scripts.js}"></script>
<script src="../../static/js/custom.js"
        th:src="@{/js/custom.js}"></script>
<script src="../../static/js/demo.js"
        th:src="@{/js/demo.js}"></script>
<!--<script src="../../static/modules/chart.min.js"-->
<!--        th:src="@{/modules/chart.min.js}"></script>-->
</body>
</html>
